.nav {
    grid-area: n;
    background-color: rgb(20, 74, 103);
    padding: 20px;
}

.item a {
    margin: 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.item a.activeLink {
    color: #e9a671;
}

